@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&display=swap');

:root {
  /* Colors - Primary */
  --clr-primary-400: 26 100% 55%; /* Orange */
  --clr-primary-100: 25 100% 94%; /* Pale Orange */
  /* Colors - Neutral */
  --clr-neutral-900: 0 0% 0%; /* Black */
  --clr-neutral-800: 219 13% 13%; /* Very Dark Blue */
  --clr-neutral-400: 219 9% 45%; /* Dark Grayish Blue */
  --clr-neutral-300: 220 14% 75%; /* Grayish Blue */
  --clr-neutral-200: 223 64% 98%; /* Light Grayish Blue */
  --clr-neutral-100: 0 0% 100%; /* White */
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1rem;
}

.header--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-inline-size: 1110px;
  margin-inline: auto;
  padding-block: 2rem;
  border-block-end: 2px solid hsl(var(--clr-neutral-200));

  > * {
    display: flex;
    align-items: center;
    gap: 2.125rem;
  }

  ul {
    display: flex;
    list-style: none;
    gap: 4ch;

    li > a {
      text-decoration: none;
      padding-block-end: 2.625rem;
    }

    li > a:hover {
      border-block-end: 4px solid hsl(var(--clr-primary-400));
    }
  }

  img {
    cursor: pointer;
  }
}

.img-avatar {
  max-inline-size: 50px;
}

header,
main {
  margin-block-end: 6rem;
}

.main--wrapper {
  display: grid;
  grid-template-columns: 441px 1fr 441px;
  /* grid-template-areas: 'photos' '.' 'text'; */
  /* gap: 3rem; */
  max-inline-size: 1110px;
  margin-inline: auto;
  padding-inline: 3rem;
}

.main--photos {
  grid-column: 1;
  /* grid-area: photos; */
}

.featured-photo {
  img {
    border-radius: 1rem;
    margin-block-end: 1.625rem;
  }
}

.thumbnails--wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.thumbnail {
  box-sizing: content-box;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
}

.selected-img {
  border: 3px solid hsl(var(--clr-primary-400));
}

.thumbnail.selected-img::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: hsl(var(--clr-neutral-100) / 0.5);
}

.thumbnail img {
  width: 90px;
  display: block;
}

.main--content {
  grid-column: 3;
  align-self: center;

  h1 {
    color: hsl(var(--clr-neutral-300));
    font-size: 1rem;
    text-transform: uppercase;
    margin-block-end: 2em;
  }

  h2 {
    color: hsl(var(--clr-neutral-900));
    font-size: 2.875rem;
    font-weight: 700;
    line-height: 1;
    text-wrap: initial;
    margin-block-end: 0.5em;
  }

  p {
    color: hsl(var(--clr-neutral-300));
    line-height: 1.8;
    margin-block-end: 2em;
  }
}

.main--content-price-wrapper {
  max-inline-size: 50%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2;
  gap: 0.5rem;
  margin-block-end: 2em;
}

.price-current {
  color: hsl(var(--clr-neutral-900));
  font-weight: 700;
  font-size: 2.125rem;
  line-height: 1;
}

.price-discount {
  justify-self: start;
  display: block;
  padding: 0.375em 0.625em;
  background-color: hsl(var(--clr-neutral-800));
  color: hsl(var(--clr-neutral-100));
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.5rem;
}
.price-original {
  font-size: 1rem;
  color: hsl(var(--clr-neutral-300));
  text-decoration: line-through;
}

.buttons--wrapper {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.button-quantity {
  background-color: hsl(var(--clr-neutral-200));
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  font-weight: 700;

  button {
    background-color: inherit;
    border: none;
    cursor: pointer;
    padding-inline: 1rem;
  }

  span {
    padding-inline: 2em;
  }
}
.button-addToCart {
  background-color: hsl(var(--clr-primary-400));
  display: flex;
  gap: 0.5rem;
  padding: 0.75em 4em;
  color: hsl(var(--clr-neutral-400));
  font-weight: 700;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); /* Legacy property for Internet Explorer */
  clip-path: inset(50%);
  border: 0;
}
